---
layout: default
title: "Projects"
author: "Steven"
permalink: /projects/
---

<div class="catalogue">
  {% for project in paginator.project %}
    <a href="{{ project.url | prepend: site.url }}" class="catalogue-item">
      <div>
        <time datetime="{{ project.date }}" class="catalogue-time">{{ project.date | date: "%B %d, %Y" }}</time>
        <h1 class="catalogue-title">{{ project.title }}</h1>
        <div class="catalogue-line"></div>

        <p>
          {{ project.content | truncatewords: 30 | strip_html }}
        </p>

      </div>
    </a>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.url }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.url }}" class="right arrow">&#8594;</a>
  {% endif %}

  <span>{{ paginator.page }}</span>
</div>
